:root{
	/* --color1_bg_1: #938E94;
	--color1_bg_2: #938E94;
	--color1_div1_1: rgb(239, 208, 202);
	--color1_div1_2: rgb(193, 188, 172);
	--color1_div2_1: rgb(151, 155, 141);
	--color1_div2_2: #557A95;
	 */

	/* --color1_bg_1: #24242e;
	--color1_bg_2: #1A1A1C;
	--color1_div1_1: #C3083F;
	--color1_div1_2: #950741;
	--color1_div2_1: #950741;
	--color1_div2_2: #C3083F; */
	 
	--color1_bg_1: #141526;
	--color1_bg_2: #1A1A1C;
	--color1_div1_1: #26273B;
	--color1_div1_2: #950741;
	--color1_div2_1: #950741;
	--color1_div2_2: #C3083F;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
	height: 100vh;
	background-image: linear-gradient(var(--color1_bg_1), var(--color1_bg_2));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .container {
	width: 45vw;
	max-width: 45vw;
	/* min-width: 390px; */
	height: 80vh;
	border-radius: 25px;
	box-shadow: 2px 2px 20px rgba(48, 1, 255, 0.74);
	/* background-color: rgb(200, 175, 128); */
	background-image: linear-gradient(var(--color1_div1_1), var(--color1_div1_2));
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .container-completed {
	width: 37vw;
	max-width: 37vw;
	/* min-width: 390px; */
	height: 80vh;
	border-radius: 25px;
	box-shadow: 2px 2px 20px rgba(48, 1, 255, 0.74);
	/* background-color: rgb(128, 200, 179); */
	background-image: linear-gradient(var(--color1_div1_1), var(--color1_div1_2));
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  header {
	/* color: white; */
	font-size: 2rem;
	color: rgb(146, 139, 184);
	/* text-shadow: 3px 5px 10px black; */
	text-align: center;
	padding: 1rem;
  }
  
  .todo-add {
	width: 90%;
	display: flex;
	margin-top: 1rem;
	font-size: 0.5rem; 
}
#todo-input {
	width: 80%;
	margin-right: 10px;
	border-color: #fff;
	border-radius: 10px;
	outline: none;
	padding: 0.5rem;
	/* border: red solid 2px; */
  }
  
  #todo-button {
	width: 20%;
	padding: 0.7rem;
	background-color: #194e5f;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 10px;
	border: none;
	
  }
#search-input {
	width: 70%;
	margin-right: 10px;
	border-color: #fff;
	border-radius: 10px;
	outline: none;
	padding: 0.5rem;
	/* border: red solid 2px; */
  }
  #button_search {
	width: 26%;
	padding: 0.7rem;
	background-color: #0f3865;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 10px;
	border: none;
	
  }

  #todo-button:hover {
	opacity: 0.5;
  }
  #button_search:hover {
	opacity: 0.5;
  }
  
  .todos {
	width: 90%;
	margin-top: 2rem;
	overflow-x: hidden;
	/* overflow-y: auto; */
  }
  .completeds {
	width: 90%;
	margin-top: 2rem;
	overflow-x: hidden;
	/* overflow-y: auto; */
  }
  
  .todos ul, .completeds ul {
	list-style: none;
  }
  
  ul li {
	background-color: rgba(238, 238, 238, 0.76);
	color: rgb(41, 41, 41);
	font-weight: bold;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	border-radius: 10px;
  }
  
  ul li:nth-child(even) {
	background-color: rgba(238, 238, 238, 0.808);
  }
  
  li i {
	padding: 1rem;
	color: #ffffff;
	cursor: pointer;
  }
  
  li i:hover {
	opacity: 0.3;
  }
  
  li p {
	flex: auto;
	padding: 0.2rem;	
	font-weight: 200;
  }
  
  li.checked > .fa-check {
	color: #00e676;
  }
  
  li.checked > p {
	color: rgb(41, 41, 41);
	/* text-decoration: line-through; */
	color: #241382;
	font-weight: normal;
  }
  
  
  #todo-ul p, #completeds-ul p {
	padding-left: 15px;

  }

.page {
	display: flex;
	justify-content:space-between;
	gap: 50px;
}




/*? ------------------- MEDIA ------------------------------- */





@media screen and (max-width: 840px) {
  .page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 90vh;
  }
	li p {
	font-size: 0.8rem;
  }
  .container {
	min-width: 500px;
	
  }
  .container-completed {
	min-width: 500px;
  }



}

@media screen and (max-width: 520px) {
	.container {
		min-width: 300px;
		
	  }
	  .container-completed {
		min-width: 300px;
	  }
	  #button_search {
		padding: 1px;
		font-size: 0.7rem;
		font-weight: normal;
	  }
	  #todo-button {
		padding: 1px;
		font-size: 0.7rem;
		font-weight: normal;
	  }
}